.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 80%;
}

.container.small {
  max-width: 980px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
